# Create a .env in backend directory and fill in the values
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=get
NEXT_PUBLIC_SUPABASE_ANON_KEY=get
NEXT_PUBLIC_SUPABASE_URL=get
SUPABASE_SERVICE_ROLE_KEY=get
GEMINI_API_KEY=get